@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.cdnfonts.com/css/switzer');


.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-content p {
  font-family: "Covered By Your Grace", cursive;
  color: #2DA950;
  font-size: 2.5em;
  margin-bottom: 0;
}

.top-content h3 {
  font-size: 3em;
  text-align: center;
  line-height: 120%;
  letter-spacing: -2px;
  margin-top: 0;
}


.left-content {
  width: 50vw;
  height: 70vh;
  margin: 0 20px;
  float: left;
}

.left-content .hero-image img {
  position: relative;
  width: 550px;
  height: auto;
  left: 280px;
}


.left-content-card1 {
  position: relative;
  left: 100px;
  bottom: 330px;
  /* transform: translate(-50%, -50%); */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 220px;
  border: none;
  border-radius: 30px;
  background-color: #fffafa;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 12px 6px;
}

.left-content-card1 .card-sparkle {
  position: absolute;
  left: -10px;
  top: -20px;
  width: 100px;
  height: 100px;

}

.left-content-card1 h3 {
  font-size: 4em;
  font-family: 'Switzer', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 100px;
}

.left-content-card1 p {
  text-align: left;
  font-size: 1.2em;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px 30px;
  color: #828282;
}

.left-content-card2 {
  position: relative;
  bottom: 400px;
  left: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 100px;
  border: none;
  border-radius: 50px;
  background-color: #fffafa;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 2px 20px;

}

.left-content-card2 h3 {
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 700;
}

.left-content-card2 p {
  margin-top: 0;
  margin-left: 40px;
  color: #828282;
}

.left-content-card2 .rocket-img {
  position: absolute;
  left: 20px;
}

.left-content-card3 {
  position: relative;
  left: 600px;
  bottom: 425px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  height: 200px;
  border: none;
  border-radius: 30px;
  background-color: #002E18;
  color: #fff;
  box-shadow: 12px 0 23px rgba(0, 0, 0, 0.2);
  padding: 26px 5px;
}

.left-content-card3 h3 {
  display: flex;
  align-items: flex-end;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

.left-content-card3 h3 span {
  font-size: 0.6em;
  letter-spacing: 2px;
  line-height: 38px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-left: 10px;
  color: #A6A3A0;
}

.left-content-card3 p {
  font-size: 1.2em;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 3px;
  padding: 20px;
  color: #CCCCCC;
}

.right-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  margin-top: 30px;
  z-index: -1;
}

.carousel-slider {
  top: 250px;
  display: flex;
}

.carousel-content h3 {
  text-align: left;
  font-size: 2.5em;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;

}

.dot.active {
  background-color: #2DA950;
}

.dot:hover:not(.active) {
  background-color: rgba(45, 169, 80, 0.5);
}

.explore-button {
  border: none;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 50px;
  padding: 30px 50px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 200;
  background-color: black;
  color: #fff;
  margin-right: 0;
  transition: background-color 0.7s ease, color 0.3s ease;
  margin-top: 150px;
}

.explore-button:hover {
  background-color: #4E4E4E;
  transition-delay: 0.1s;
}

.back-image {
  position: absolute;
  left: 85%;
  top: -20px;
  bottom: 40px;
  width: 400px;
  height: 400px;
  background-image: url("../../images/rectanglebg.png");
  background-size: 140px;
  z-index: -1;
}